//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

$grey-lightest: #f6f9fc;
$grey-lighter: #f0f4f7;
$grey-light: #e6edf2;
$grey: #dae0e8;
$grey-dark: #9ba9bb;
$grey-darkest: #6b7c93;

$purple-lightest: #b8d4fe;
$purple-lighter: #7795f8;
$purple-light: #6772e5;
$purple: #555abf;
$purple-dark: #43458b;
$purple-darkest: #32325d;

$orange-lightest: #fbeebf;
$orange-lighter: #f7d76d;
$orange-light: #f6c256;
$orange: #f1a731;
$orange-dark: #ed8000;
$orange-darkest: #d36300;

$primary-color: $orange;
$secondary-color: $purple;
$success-color: #3adb76;
$warning-color: lighten($primary-color, 10%);
$alert-color: #ec5840;

$black: #000000;
$white: #ffffff;
$pre-color: #ff6908;
$global-width: 784px;
$global-width-small: 95%;
$global-gutter: 32px;
$global-gutter-small: 16px;
$body-background: $grey;
$container-background: $white;
$global-padding: 0px;
$global-margin: 0px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 2;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: #3d4d61;
$body-font-family: 'Open Sans', sans-serif;
$global-font-weight: 400;
$header-color: $purple-darkest;
$global-line-height: 1.75;
$global-font-size: 14px;
$body-line-height: $global-line-height;
$header-font-family: 'Roboto', sans-serif;
$header-font-weight: 700;
$h1-font-size: 34px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 17px;
$h6-font-size: 16px;
$header-margin-bottom: 0px;
$paragraph-margin-bottom: 16px;
$small-font-size: 80%;
$small-font-color: $grey;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.6;
$text-padding: 10px;
$subheader-lineheight: 1.4;
$subheader-color: $grey-darkest;
$subheader-font-weight: 300;
$subheader-margin-top: 4px;
$subheader-margin-bottom: 8px;
$hr-width: $global-width;
$hr-border: 1px solid $black;
$hr-margin: 20px auto;
$anchor-text-decoration: underline;
$anchor-color: $purple-light;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: darken($purple, 10%);
$anchor-color-active: $anchor-color-hover;
$stat-font-size: 40px;

// 5. Button
// ---------

$button-padding: (
  tiny: 4px 8px 4px 8px,
  small: 2px 10px 2px 10px,
  default: 8px 16px 8px 16px,
  large: 10px 20px 10px 20px,
);
$button-font-size: (
  tiny: 10px,
  small: 14px,
  default: 15px,
  large: 20px,
);
$button-color: $white;
$button-color-alt: $grey;
$button-font-weight: normal;
$button-margin: 0;
$button-background: $primary-color;
$button-border: 2px solid $button-background;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: 16px;
$callout-margin-bottom: 0px;
$callout-border: 1px solid darken($callout-background, 20%);
$callout-border-secondary: 1px solid darken($secondary-color, 20%);
$callout-border-success: 1px solid darken($success-color, 20%);
$callout-border-warning: 1px solid darken($warning-color, 20%);
$callout-border-alert: 1px solid darken($alert-color, 20%);

// 7. Menu
// -------

$menu-item-padding: 10px;
$menu-item-gutter: 10px;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;
